@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");
* {
  margin: 0;
  padding: 0; }

body, html {
  font-family: Lato, sans-serif;
  color: #000;
  margin: 0 auto; }

nav {
  margin-bottom: 5%; }

.item {
  font-size: 1.2rem;
  font-weight: 700; }

img {
  margin-bottom: 1.5em; }

.intro {
  margin-left: 50px; }

.box {
  width: 250px;
  height: 250px;
  position: relative;
  margin: 0 auto; }
  .box .title {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 50px; }
    .box .title .block {
      width: 0%;
      height: inherit;
      background: #ffb510;
      position: absolute;
      animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
      display: flex; }
    .box .title h1 {
      font-family: 'Poppins';
      color: #232323;
      font-size: 32px;
      -webkit-animation: mainFadeIn 2s forwards;
      -o-animation: mainFadeIn 2s forwards;
      animation: mainFadeIn 2s forwards;
      animation-delay: 1.6s;
      opacity: 0;
      display: flex;
      align-items: baseline;
      position: relative; }
      .box .title h1 span {
        width: auto;
        height: 0px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #ffb510;
        -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation-delay: 2s;
        margin-left: 5px;
        margin-top: -10px;
        position: absolute;
        bottom: 13px;
        right: -12px; }
  .box .role {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: -10px; }
    .box .role .block {
      width: auto;
      height: inherit;
      background: #e91e63;
      position: absolute;
      animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
      animation-delay: 2s;
      display: flex; }
    .box .role p {
      animation: secFadeIn 2s forwards;
      animation-delay: 3.2s;
      opacity: 0;
      font-weight: 400;
      font-family: 'Lato';
      color: #232323;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 5px; }

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0; }
  50% {
    width: 100%;
    left: 0; }
  100% {
    width: 0;
    left: 100%; } }
@keyframes secBlock {
  0% {
    width: 0%;
    left: 0; }
  50% {
    width: 100%;
    left: 0; }
  100% {
    width: 0;
    left: 100%; } }
@keyframes mainFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0; }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px; }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px; }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px; }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px; } }
@keyframes secFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0; }

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2098d1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: #fff; }

.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

/* Fix bootstrap */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {
  background: none;
  color: #fff; }

.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:active {
  background: none;
  color: #555; }

.profile {
  width: 300px;
  height: 300px;
  border-radius: 50%; }

main {
  text-align: center; }

.about {
  font-family: Lato, sans-serif;
  text-align: center;
  padding: 5% 0;
  background-color: #e8e8e8; }
  .about span {
    width: 30%;
    font-size: 1.5em;
    font-weight: 700;
    margin: auto; }
  .about h1 {
    width: 30%;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 4.5em;
    margin: auto; }
  .about p {
    font-size: 1.3em;
    line-height: 1.5;
    margin: auto;
    width: 30%;
    margin-bottom: 10%; }

.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  margin: 50px auto; }
  .skills p, .skills h1 {
    grid-column: 1/span 4;
    margin-left: 50px;
    font-size: 1.2em;
    font-weight: 600;
    align-self: flex-end; }
  .skills h1 {
    font-size: 4.5em;
    margin-bottom: 100px;
    text-transform: uppercase;
    text-align: left; }

.icons {
  width: 100px;
  height: 100px;
  justify-self: center;
  margin-bottom: 100px; }

.portfolio {
  margin: 0 auto; }
  .portfolio h1 {
    font-size: 4.5em;
    margin-bottom: 100px;
    text-transform: uppercase;
    text-align: left;
    margin-left: 50px; }

.card {
  width: 50%;
  margin: 10% auto;
  text-align: center; }

.middle {
  width: 100%;
  text-align: center; }

.btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #f1f1f1;
  margin: 10px;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative; }

.btn i {
  font-size: 10px;
  transition: 0.2s linear;
  z-index: 5; }

.btn:hover i {
  transform: scale(1.3);
  color: #f1f1f1; }

.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%; }

.btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%; }

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%; }
  50% {
    left: 10%;
    top: -30%; }
  100% {
    top: -10%;
    left: -10%; } }

/*# sourceMappingURL=index.css.map */
